@import "tailwindcss";
@import "./design-system/theme.css";
@import "./morph.css";

:root {
  --slow-scale: 1;
  --filter-lift: drop-shadow(0 0 0.6px rgb(29 29 31 / 32%))
    drop-shadow(0 1px 1px rgb(29 29 31 / 6%))
    drop-shadow(0 6px 16px rgb(29 29 31 / 8%));
}

.root {
  isolation: isolate;
}
